<script id="template" type="template">
  <table class="table table-bordered">
    {% for model in item %}
      <tr>
        <td>{{ model.id }}</td>
        <td><a href="/faq/obter.html?id={{ model.id }}">{{ model.pergunta }}</a></td>
        <td>{{ model.resposta }}</td>
      </tr>
    {% endfor %}
  </table>
</script>    

<script>
  app.components.list('faq');
</script>
