
<script id="template" type="template">
  {% import "./macros/form.html" as form %}
  {{ form.open(item) }}
    {{ form.inputTextGroup('pergunta', 'Pergunta', item.pergunta )}}
    {{ form.inputTextGroup('resposta', 'Resposta', item.resposta )}}
    {{ form.submitButtonGroup('Enviar') }}
  </form>
</script>    

<script>
  app.components.form('faq');
</script>
