<script id="template" type="template">
  <table class="table table-bordered">
    {% for model in item %}
      <tr>
        <td>{{ model.id }}</td>
        <td><a href="/funcionalidade/obter.html?id={{ model.id }}">{{ model.titulo }}</a></td>
        <td>{{ model.descricao }}</td>
      </tr>
    {% endfor %}
  </table>
</script>    

<script>
  app.components.list('funcionalidade');
</script>
