<script id="template" type="template">
  {% import "./macros/form.html" as form %}
  {{ form.open(item) }}
    {{ form.inputTextGroup('titulo', 'Título', item.titulo )}}
    {{ form.inputTextGroup('descricao', 'Descrição', item.descricao )}}
    {{ form.submitButtonGroup('Enviar') }}
  </form>
</script>    

<script>
  app.components.form('funcionalidade');
</script>
