{% macro open(model) %}
  <form id="form" class="form-horizontal col-lg-6">
    <input type="hidden" name="id" value="{{ model.id }}">
{% endmacro %}

  
{% macro inputField(name, value='', type='text') %}
  <div class="col-lg-10 col-sm-8">
    <input class="form-control" id="{{ name }}" type="text" name="{{ name }}" value="{{ value }}">
  </div>
{% endmacro %}


{% macro label(name, text) %}
  <label for="{{ name }}" class="control-label col-lg-2 col-sm-4">
    {{ text }}
  </label>
{% endmacro %}


{% macro inputTextGroup(name, text, value) %}
  <div class="form-group">
    {{ label(name, text) }}
    {{ inputField(name, value) }}
  </div>
{% endmacro %}


{% macro submitButtonGroup(value) %}
 <div class="form-group">
   <div class="col-lg-offset-2 col-sm-offset-4 col-lg-10 col-sm-8">
     <input type="submit" class="btn btn-info" value="{{ value }}">
   </div>
</div>   
{% endmacro %}
