<!DOCTYPE html>
<html> 
  <head>
    <meta charset="utf-8">
    <title>Pacto Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <script src="/scripts/main.js"></script>
  <body style="padding-top:50px" >
    {% include './app/templates/menu.html' %}
    <div class="container-fluid" style="padding-top:1em">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
