<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Pacto</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for section in sections %}
          <li data-section="{{ section.slug }}"><a href="/{{ section.slug }}/listar.html">{{ section.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>